<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latex stylesheet docs: https://latex.vercel.app/ -->
	<!--<link rel="stylesheet" href="https://latex.vercel.app/style.css">-->
	<!--<link rel="stylesheet" href="https://latex.vercel.app/prism/prism.css">-->
	<title>Final Fieldwork Report</title>
	<style>
		{% include "latex.css" %}

		@media print {
			body {
				zoom: 80%;
				background-color: white;
				font-size: .9rem;
			}

			pre {
				background-color: white;
			}

			@page {
				size: Letter;
			}

			table {
				font-size: .9rem !important;
			}

			section.page {
				page-break-before: always;
			}

			/* page-break-after works, as well */

		}

		.text-error {
			color: rgb(121, 30, 30);
			font-weight: 600;
		}

		section {
			counter-reset: point-header;
		}

		.fieldrun-point-header::before {
			counter-increment: point-header;
			content: 'Point ' counter(point-header) ': ';
		}

		span.mark {
			color: rgb(223, 0, 0);
			font-weight: 600 !important;
			text-decoration: underline;
		}

		#final-coord-table td {
			vertical-align: top;
		}
	</style>
</head>

{% set LOC_FILE_USED = not nullish(fw["LOC_description"]) and fw["LOC_description"] != "" %}
{% set SUM_FILE_USED = not nullish(fw["SUM_geoid_seperation"]) %}

<body>
	<header>
		<div>
			<img src="{{ header_b64 }}" alt="DMSE Logo"
				style="width: 6cm; display:block; margin:auto;">
		</div>
		<h2 style="text-align: center;">Fieldwork Processing Results</h2>
	</header>
	<div class="abstract">
		{% if job_number %}
		<p><b>Job:</b> {{ job_number }}</p>
		{% endif %}
		{% if client_name %}
		<p><b>Client:</b> {{ client_name }}</p>
		{% endif %}
		<p style="margin-top: 0.75cm;"><b>Fieldwork:</b> {{fw.name}}</p>
		{% set dt_str = fw["RW5_datetime"] %}
		{% if not nullish(dt_str) %}
		{% set dt = dt_str.toPyDateTime() %}
		<p><b>Date of Fieldwork:</b> {{dt.strftime("%B %d, %Y")}}</p>
		{% endif %}
		<p style="white-space: pre-line;"><b>Equipment:</b> {{fw.equipment_string}}</p>
		<p style="margin-top: 0.75cm;">Shots:</p>
		<p>{{shots_summary_str}}</p>
		<p>Observed Controls:</p>
		<p>{{observed_controls_summary_str}}</p>
		<p>New Controls:</p>
		<p>{{new_controls_summary_str or "N/A"}}</p>
		{% if DETAILED_REPORT %}
		<p style="margin-top: 0.75cm;">Generated from:</p>
		<p><small><code>{{crdb_name}}</code></small></p>
		<p><small><code>{{rw5_name}}</code></small></p>
		<p><small><code>{{ref_name}}</code></small></p>
		<p><small><code>{{loc_name}}</code></small></p>
		<p><small><code>{{sum_name}}</code></small></p>
		{% endif %}
		<p>Date generated: {{ datetime.now().strftime("%B %d, %Y") }}</p>
	</div>
	<section class="page">
		<h2>Contents</h2>
		<nav>
			<ol>
				<li><a href="#control-summary">Control Summary</a>
					<ol>
						<li><a href="#coordinate-shift">Coordinate Shift</a></li>
						<li><a href="#localization">Localization</a></li>
						<li><a href="#observed-controls">Observed Controls</a></li>
						<li><a href="#new-controls">New Controls</a></li>
					</ol>
				</li>

				<li><a href="#processing-summary">Processing Summary</a>
					<ol>
						<li><a href="#averaged-points">Averaged Points</a></li>
						<li><a href="#exceptions">Exceptions</a>
							<ol>
								<li><a href="#code-exceptions">Code Exceptions</a></li>
								<li><a href="#quality-exceptions">Quality Exceptions</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li><a href="#field-run-summary">Field Run Summary</a></li>
				<li><a href="#final-coords">Final Coords</a></li>
				{% if DETAILED_REPORT %}
				<li><a href="#raw-data">Raw Data</a>
					<ol>
						<li><a href="#crdb-file">CRDB File</a></li>
						<li><a href="#rw5-file">RW5 File</a></li>
						<li><a href="#ref-file">REF File</a></li>
						<li><a href="#loc-file">LOC File</a></li>
						<li><a href="#sum-file">SUM File</a></li>
					</ol>
				</li>
				{% endif %}
			</ol>
		</nav>
	</section>

</body>
<main>
	<article>

		<section class="page">
			<h2 id="control-summary">Control Summary</h2>
			<section>
				<h3 id="coordinate-summary">Coordinate Shift</h3>
				{% set shift_type = fw.shift_type%}
				{% if shift_type == "NONE" %}
				<p>
					No shift was applied to the coordinates in this fieldwork.
				</p>
				{% else %}
				<p>
					{% if shift_type == "CONTROL" %}
					<!-- Control shift -->
					A control point shift was applied to the coordinates in this fieldwork.
					The shift was calculated as the difference between the following known control points
					and their corresponding shots captured in this fieldwork:
					<ul>
					{% for i in coordinate_shift_controls %}
						<li>
							{{ i.name }}
						</li>
					{% endfor %}
					</ul>
					{% elif shift_type == "HPN" %}
					<!-- HPN shift -->
					A HPN shift was calculated and applied to the coordinates in this fieldwork.
					The shift was calculated factoring in the reference coordinate,
					the coordinate and geoid separation values found in the summary file from
					NRCAN{% if LOC_FILE_USED %}, and the measured/grid coordinates that can be found in the
					localization file{% endif %}.
					{% endif %}
					<br>
					The applied shift is as follows:
					<ul>
						<li>East {{fw.easting_shift|round(3)}}m</li>
						<li>North {{fw.northing_shift|round(3)}}m</li>
						<li>Elevation {{fw.elevation_shift|round(3)}}m</li>
					</ul>
				</p>
				{% endif %}
			</section>
			<section>
				<h3 id="localization">Localization</h3>
				{% if LOC_FILE_USED %}
				<p>
					The fieldwork was localized to the point described as <b>{{fw.LOC_description}}</b>,
					which was measured in the field to have the following coordinate:
				</p>
				<pre><code>({{fw.LOC_measured_easting|round(4)}}, {{fw.LOC_measured_northing|round(4)}}, {{fw.LOC_measured_elevation|round(4)}})</code></pre>
				{# The grid coordinates are only availabled when a SUM file is provided to convert the elevation usign it's geoid seperation #}
				{% if SUM_FILE_USED %}
				<p>
					The known (grid) coordinate for the same point is:
				</p>
				<pre><code>({{fw.LOC_grid_easting|round(4)}}, {{fw.LOC_grid_northing|round(4)}}, {{fw.LOC_grid_elevation|round(4)}})</code></pre>
				{% else %}
				<p>
					As a SUM file was not provided, the GRID coordinate used in this localization cannot be displayed in meters (the geoid seperation from the SUM file is needed).
					The GRID coordinate in its raw form can be seen in the raw data section of the report, though.
				</p>
				{% endif %}
				{% else %}
				<p>No LOC file was provided for this fieldwork.</p>
				{% endif %}
			</section>
			<section>
				<h3 id="observed-controls">Observed Controls</h3>
				<table>
					<tbody>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Published</th>
							<th scope="col">Observed</th>
							<th scope="col">Residual</th>
						</tr>
						{% for control in observed_controls %}
						<tr>
							<th scope="row">{{control.fr_shot.name}}</th>
							<td>
								{% set p_east = control.fr_shot.control_easting %}
								{% set p_north = control.fr_shot.control_northing %}
								{% set p_elev = control.fr_shot.control_elevation %}
								{% set o_east = control.fw_shot.easting %}
								{% set o_north = control.fw_shot.northing %}
								{% set o_elev = control.fw_shot.elevation %}
								<div>
									{{p_east|round(3)}}<br>
									{{p_north|round(3)}}<br>
									{% if not nullish(p_elev) %}
									{{p_elev|round(3)}}
									{% else %}
									Not Set
									{% endif %}
								</div>
							</td>
							<td>
								<div>
									{{o_east|round(3)}}<br>
									{{o_north|round(3)}}<br>
									{{o_elev|round(3)}}
								</div>
							</td>
							<td>
								{{(p_east-o_east)|round(3)}}<br>
								{{(p_north-o_north)|round(3)}}<br>
								{% if not nullish(p_elev) %}
								{{(p_elev-o_elev)|round(3)}}
								{% else %}
								{{(o_elev * -1)|round(3)}}
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
			<section>
				<h3 id="new-controls">New Controls</h3>
				<table>
					<tbody>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Observed</th>
						</tr>
						{% for control in new_controls %}
						<tr>
							<th scope="row">{{control.fr_shot.name}}</th>
							<td>
								<div>
									{{control.fw_shot.easting|round(3)}}<br>
									{{control.fw_shot.northing|round(3)}}<br>
									{{control.fw_shot.elevation|round(3)}}
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</section>
		<section class="page">
			<h2 id="processing-summary">Processing Summary</h2>
			<section>
				<h3 id="averaged-points">Averaged Points</h3>
				<p>The following tables each represent points that were created as averages of other continuous,
					same-code points.</p>

				{% for avg in averaged_shots %}
				{% set parent_east = avg.parent_shot.easting %}
				{% set parent_north = avg.parent_shot.northing %}
				{% set parent_elev = avg.parent_shot.elevation %}
				<table style="margin-top: .75cm;">
					<caption>
						The points that were averaged into <b>{{avg.parent_shot.name}}</b>.
					</caption>
					<thead>
						<tr>
							<th>Point</th>
							<th>Code</th>
							<th>East</th>
							<th>North</th>
							<th>Elevation</th>
							<th>Residuals</th>
						</tr>
					</thead>
					<tbody>
						{% for child in avg.child_shots %}
						{% set child_east = child.easting %}
						{% set child_north = child.northing %}
						{% set child_elev = child.elevation %}
						<tr>
							<td>{{child.name}}</td>
							<td>{{child.full_code}}</td>
							<td>{{child_east|round(3)}}</td>
							<td>{{child_north|round(3)}}</td>
							<td>{{child_elev|round(3)}}</td>
							<td>
								<div>
									{{(parent_east-child_east)|round(3)}},
									{{(parent_north-child_north)|round(3)}},
									{{(parent_elev-child_elev)|round(3)}}
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>{{avg.parent_shot.name}}</th>
							<th>{{avg.parent_shot.code}}</th>
							<td>{{parent_east|round(3)}}</td>
							<td>{{parent_north|round(3)}}</td>
							<td>{{parent_elev|round(3)}}</td>
							<th></th>
						</tr>
					</tfoot>
				</table>
				{% endfor %}
			</section>
			<section>
				<h3 id="exceptions">Exceptions</h3>
				<section>
					<h4 id="code-exceptions">Code Exceptions</h4>
					<p>The following points were flagged as having an invalid code, and presented to the operator
						with the option to correct the code.</p>
					<table>
						<thead>
							<tr>
								<th>Point</th>
								<th>Code</th>
								<th>Action Taken</th>
							</tr>
						</thead>
						<tbody>
							{% for point in final_shots %}
							{% if point.bad_code_flag %}
							{% set og_code = point.original_code %}
							{% set new_code = point.full_code %}
							<tr>
								<th scope="row">{{point.name}}</th>
								<td>{{og_code}}</td>
								<td>
									<small>
										{% if og_code != new_code %}
										Code was corrected to "{{ new_code }}".
										{% else %}
										Error was ignored, code is still invalid.
										{% endif %}
									</small>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</section>
				<section>
					<h4 id="quality-exceptions">Quality Exceptions</h4>
					<p>The following points were flagged as having poor coordinate quality, be it due to out of
						tolerance HRMS, VRMS, or a non-fixed status.</p>
					<table style="margin-top: .5cm;">
						<caption>
							Cells marked like <span class="mark">this</span> indicate a poor coordinate quality marker.
						</caption>
						<thead>
							<tr>
								<th>Point</th>
								<th>VRMS</th>
								<th>HRMS</th>
								<th>Fixed</th>
								<th>HDOP</th>
								<th>VDOP</th>
								<th>PDOP</th>
								<th>Rod Height</th>
								<th>Instrument Height</th>
								<th>Instrument Type</th>
							</tr>
						</thead>
						<tbody>
							{% for point in final_shots %}
							{% set bad_hrms = point.bad_hrms_flag %}
							{% set bad_vrms = point.bad_vrms_flag %}
							{% set bad_fixed_status = point.bad_fixed_status_flag %}
							{% if bad_hrms or bad_vrms or bad_fixed_status %}
							<tr>
								<th scope="row">{{point.name}}</th>
								<td>
									{% if bad_hrms %}
									<span class="mark">
										{{ point.hrms|round(3) }}
									</span>
									{% else %}
									{{ point.hrms|round(3) }}
									{% endif %}
								</td>
								<td>
									{% if bad_vrms %}
									<span class="mark">
										{{ point.vrms|round(3) }}
									</span>
									{% else %}
									{{ point.vrms|round(3) }}
									{% endif %}
								</td>
								<td>
									{% if bad_fixed_status %}
									<span class="mark">
										{{ point.status }}
									</span>
									{% else %}
									{{ point.status }}
									{% endif %}
								</td>
								<td>{{ point.hdop|safe_round(3) }}</td>
								<td>{{ point.vdop|safe_round(3) }}</td>
								<td>{{ point.pdop|safe_round(3) }}</td>
								<td>{{ point.rod_height|safe_round(3) }}</td>
								<td>{{ point.instrument_height|safe_round(3) }}</td>
								<td>{{ point.instrument_type }}</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</section>
			</section>
		</section>

		<section class="page">
			<h2 id="field-run-summary">Field Run Summary</h2>
			{% for record in fieldrun_shots %}
			{% set shot_type = record.shot["type"] %}
			{% set shot_name = record.shot["name"] %}
			{% set shot_description = record.shot["description"] %}
			{% set shot_id = record.shot["id"] %}
			{% set shot_x = record.shot.geometry().asPoint().x() %}
			{% set shot_y = record.shot.geometry().asPoint().y() %}
			<!-- Display smaller if it's a nothing found or instruction point -->
			{% if shot_type in 'Instruction,NothingFound' %}
			<h5 class="fieldrun-point-header">
				{{ shot_name }}
				[{{shot_type}}]
				"{{ shot_description }}"
			</h5>
			{% else %}
			<h4 class="fieldrun-point-header">{{ shot_name }} [{{shot_type}}]</h4>
			<blockquote>{{shot_description}}</blockquote>
			<label for="sn-anything" class="sidenote-toggle">⊕</label>
			<input type="checkbox" id="sn-anything" class="sidenote-toggle" />
			<span class="sidenote">({{shot_x|safe_round(5)}}, {{shot_y|safe_round(5)}})</span>
			<small><code>{{shot_id}}</code></small>
			{% endif %}
			{% for img in record.images %}
			<figure>
				<img src="{{downloadB64(img.public_image_url)}}" style="max-height: 4in;">
				<figcaption>
					{% if img.note %}
					{{img.note}}
					{% else %}
					Image of point {{ shot_name }}.
					{% endif %}
				</figcaption>
			</figure>
			{% endfor %}
			{% endfor %}
		</section>

		<section class="page">
			<h2 id="final-coords">Final Coords</h2>
			<table id="final-coord-table" style="font-size: .85rem !important;">
				<thead>
					<tr>
						<th>P.</th>
						<th>E.</th>
						<th>N.</th>
						<th>Elev.</th>
						<th>Description</th>
						<th>Code</th>
						<th>RH</th>
						<th>IH</th>
						<th>Instrument Type</th>
						<th>Error</th>
						<th>Fixed</th>
					</tr>
				</thead>
				<tbody>
					{% for point in final_shots %}
					<tr>
						<td>{{ point.name }}</td>
						<td>{{ point.easting|safe_round(3) }}</td>
						<td>{{ point.northing|safe_round(3) }}</td>
						<td>{{ point.elevation|safe_round(3) }}</td>
						<td>

								{{ point.description }}

						</td>
						<td>

								{{ point.code }}

						</td>
						<td>

								{{ point.rod_height|safe_round(3) }}

						</td>
						<td>

								{{ point.instrument_height|safe_round(3) }}

						</td>
						<td>

								{{ point.instrument_type }}

						</td>
						<td>
							<div>
								<span style="text-wrap: nowrap; white-space: nowrap;">
									{% set hrms = point.hrms %}
									HRMS: {% if point.bad_hrms_flag %}
									<span class="mark">
										{{ hrms|safe_round(3) }}
									</span>
									{% else %}
									{{ hrms|safe_round(3) }}
									{% endif %}
								</span>
							</div>
							<div>
								<span style="text-wrap: nowrap; white-space: nowrap;">
									{% set vrms = point.vrms %}
									VRMS: {% if point.bad_vrms_flag %}
									<span class="mark">
										{{ vrms|safe_round(3) }}
									</span>
									{% else %}
									{{ vrms|safe_round(3) }}
									{% endif %}
								</span>
							</div>
							</div>
							<div>
								<span style="text-wrap: nowrap; white-space: nowrap;">
									HDOP: {{ point.hdop|safe_round(3) }}
								</span>
							</div>
							</div>
							<div>
								<span style="text-wrap: nowrap; white-space: nowrap;">
									VDOP: {{ point.vdop|safe_round(3) }}
								</span>
							</div>
							<div>
								<span style="text-wrap: nowrap; white-space: nowrap;">
									PDOP: {{ point.pdop|safe_round(3) }}
								</span>
							</div>
						</td>
						<td>
							{% set status = point.status %}
							{% if point.bad_fixed_status_flag %}
							<span class="mark">
								{{ status }}
							</span>
							{% else %}
							{{ status }}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>

		{% if DETAILED_REPORT %}
		<section class="page">
			<h2 id="raw-data">Raw Data</h2>
			<section>
				<h3 id="crdb-file">CRDB File</h3>
				<table style="font-size: .85rem;">
					<thead>
						<tr>
							<th>P</th>
							<th>E</th>
							<th>N</th>
							<th>Z</th>
							<th>D</th>
							<th>LockStatus</th>
						</tr>
					</thead>
					<tbody>
						{% for row in crdb_rows %}
						<tr>
							<td><small>{{row.P}}</small></td>
							<td><small>{{row.E}}</small></td>
							<td><small>{{row.N}}</small></td>
							<td><small>{{row.Z}}</small></td>
							<td><small>{{row.D}}</small></td>
							<td><small>{{row.LockStatus}}</small></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
			<section>
				<h3 id="rw5-file">RW5 File</h3>
				<small>
					<code style="white-space: pre; text-wrap: pretty;">{{ rw5_raw }}</code>
				</small>
			</section>
			<section>
				<h3 id="ref-file">REF File</h3>
				<small>
					<code style="white-space: pre; text-wrap: pretty;">{{ ref_raw }}</code>
				</small>
			</section>
			<section>
				<h3 id="loc-file">LOC File</h3>
				<small>
					<code style="white-space: pre; text-wrap: pretty;">{{ loc_raw }}</code>
				</small>
			</section>
			<section>
				<h3 id="sum-file">SUM File</h3>
				<small>
					<code style="white-space: pre; text-wrap: pretty;">{{ sum_raw }}</code>
				</small>
			</section>
		</section>
		{% endif %}

	</article>
</main>

</html>
